<div class="col-md-4 offset-4 mt-4">
    <table align="center">
        <tr>
            <td>
                <div style="width: 40rem;">
    
                </div>
                <a routerLink="/requestBook" class="btn btn-info btn-lg btn-block"><i class="fa fa-book" aria-hidden="true"></i>
                    Request Book</a>
            </td>
        </tr>
        <tr>
            <td>
                <a routerLink="/returnBook" class="btn btn-info btn-lg btn-block"><i class="fa fa-book" aria-hidden="true"></i>
                    Return Book</a>
            </td>
        </tr>
        <tr>
            <td>
                <a routerLink="/borrowedBooks" class="btn btn-info btn-lg btn-block"><i class="fa fa-book" aria-hidden="true"></i>
                    Borrowed Books</a>
            </td>
        </tr>
    
    </table>
    </div>