<div class="col-md-4 offset-4 mt-4">
<table align="center">
    <!-- <tr>
        <td>
            <div style="width: 40rem;">

            </div>
            <a routerLink="/addUser" class="btn btn-info btn-lg btn-block">Add User</a>
        </td>
    </tr> -->
    <tr>
        <td>
            <div style="width: 40rem;">

            </div>
            <a routerLink="/addBook" class="btn btn-info btn-lg btn-block"><i class="fa fa-plus-circle" aria-hidden="true"></i>
                Add Book</a>
        </td>
    </tr>

    <!-- <tr>
        <td>
            <a routerLink="/deleteBook" class="btn btn-info btn-lg btn-block">Delete Book</a>
        </td>
    </tr> -->
    <tr>
        <td>
            <a routerLink="/books" class="btn btn-info btn-lg btn-block"><i class="fa fa-book" aria-hidden="true"></i>
                Books</a>
        </td>
    </tr>
    <tr>
        <td>
            <a routerLink="/deleteBook" class="btn btn-info btn-lg btn-block"><i class="fa fa-trash" aria-hidden="true"></i> Delete Book</a>
        </td>
    </tr> 
    <!-- <tr>
        <td>
            <a routerLink="/issueBook" class="btn btn-info btn-lg btn-block">Issue Book</a>
        </td>
    </tr> -->
    <tr>
        <td>

            <a routerLink="/showRequests" class="btn btn-info btn-lg btn-block"><i class="fa fa-book" aria-hidden="true"></i> Issue Book</a>
        </td>
    </tr>
    <tr>
        <td>
            <a routerLink="/showUsers" class="btn btn-info  btn-lg btn-block"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                Show Users</a>

        </td>

    </tr>
    <tr>
        <td>
            <a routerLink="/showIssuedBooks" class="btn btn-info  btn-lg btn-block"><i class="fa fa-book" aria-hidden="true"></i> IssuedBooks</a>
        </td>

    </tr>


</table>
</div>