<div class="alert alert-success" *ngIf='message'>{{ message }}</div>
<div class="container mt-4">
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Book ID</th>
                <th>Book Name</th>
                <th>Author</th>
                <th>Category</th>
                <th>Publisher</th>
                <th>Delete</th>
                <!-- <th>Update</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let book of books'>
                <td>{{book.bid}}</td>
                <td>{{book.bookName}}</td>
                <td>{{book.author}}</td>
                <td>{{book.category}}</td>
                <td>{{book.publisher}}</td>
                
                <td><span style="font-size: 20px;color: red ;" (click) = 'deleteData(book)'><i class="fa fa-trash" aria-hidden="true"></i></span></td>
            </tr>

        </tbody>
    </table>

</div>
<!-- <td><button class="btn btn-outline-primary" (click) = 'deleteData(book)'><i class="fa fa-trash" aria-hidden="true"></i>

                    Delete</button></td> -->
